<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<array>
		<string>调出仓库</string>
		<string>调入仓库</string>
		<string>单号</string>
	</array>
	<key>1</key>
	<array>
		<string>开始日期</string>
		<string>结束日期</string>
	</array>
</dict>
</plist>
